<!--div class="container-fluid p-5" id="main">
    <div class="card">
        <!--div class="card-header">
            <h5>Taluka</h5>
            <h5><small>Reported cases in each distrct of Karnataka State</small></h5>
        </div-->
<!--div class="card-body">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="col-md-2 container" style="display: block; float:left;">
                    <label>Type of case</label>
                    <select ngModel class="form-control select " name="parameter">
                        <option selected value="">Alcohol</option>
                        <option value=2>Suicide</option>
                    </select>
                    <button class="btn btn-light" type="submit">Get Chart</button>
                </div>
            </form>
            <app-taluka-bar-chart></app-taluka-bar-chart>
        </div>
    </div>

</div-->


<div id="main">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div align="center">
            <h2>Taluka Patient Count</h2>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>Type of case</label>
                    <select #myselect ngModel (change)="onSubmit(f)" class="form-control select" name="parameter">
                        <option value="">Alcohol Cases</option>
                        <option value=2>Suicide Cases</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <label>District</label>
                <select ngModel class="form-control" name="districtId" [(ngModel)]='districtId'
                    (ngModelChange)='onSelected($event)'>
                    <option *ngFor="let dist of districtData" value={{dist.DistrictId}}>
                        {{dist.District}}
                    </option>
                </select>
            </div>

            <!--div class="col-md-2">
                <button class="btn btn-primary" type="submit">Get Chart</button>
            </div-->
        </div>
    </form>

    <!-- <app-taluka-granular *ngIf="chartLoaded"></app-taluka-granular> -->

    <app-taluka-granular *ngIf="chartLoaded" [barChartService]="barChartService"></app-taluka-granular>
    <div class="row">
        <!-- Map  -->

        <div class="col-md-6">
            <!-- <app-taluk-map-component></app-taluk-map-component> -->
            <div class="h-100 pt-5 pr-3 border rounded shadow-lg bg-white">

            <app-taluk-map-component [barChartService]="barChartService"></app-taluk-map-component>
            </div>
        </div>
        <!--Bar Chart-->
        <div class="col-md-6">
            <div class="h-100 pt-5 border rounded shadow bg-white">
            <!-- <app-taluka-bar-chart (chartLoaded)="onChartLoaded()"></app-taluka-bar-chart> -->
            <app-taluka-bar-chart (chartLoaded)="onChartLoaded()" [barChartService]="barChartService"></app-taluka-bar-chart>
        </div>
        </div>
    </div>
</div>