<div id="main">
    <form #f="ngForm">
        <div align="center">
            <h2>Taluk Patient Count</h2>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <select ngModel class="form-control select" name="parameter">
                        <option value="">Alcohol Cases</option>
                        <option value=2>Suicide Cases</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" type="submit">Get Chart</button>
            </div>
        </div>
    </form>
    <div class="row">
        <!-- Map  -->
        <div class="col-md-6">
                <!-- <app-map-component [barChartService]="barChartService" ></app-map-component> -->
                <app-taluk-map-component></app-taluk-map-component>
        </div>
        <!--Bar Chart-->
        <div class="col-md-6">
            <!-- <app-district-bar-chart-component [barChartService]="barChartService"></app-district-bar-chart-component> -->
            <p>Taluk Bar chart component</p>
        </div>
    </div>
</div>