<div>
    <div class="row">
        <div class="col">
            <div class="mb-2 card">
                <!-- <div class="card-header">District Selected</div> -->
                <div class="card-body">District: {{district_name}}  Taluk : Bellary</div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col">
            <div class="mb-2 card">
                <div class="card-header">Total Cases</div>
                <!-- <div class="card-body">{{total_cases}}</div> -->
            </div>
            <!-- <br> -->
        </div>
    </div>

    <!-- <div class="row">
        <div class="col">
            <div class=" mb-2 card">
                <div class="card bg-secondary text-white">
                    <div class="card-header">SMD</div>
                    <div class="card-body">12</div>
                </div>
            </div>
            <br> 
        </div>
    </div> -->

    <!-- <div class="row">
        <div class="col">
            <div class="mb-2 card">
                <div class="card bg-info text-white">
                    <div class="card-header">CMD</div>
                    <div class="card-body">123</div>
                </div>
            </div>
           
        </div>
    </div> -->


    <!-- <div class="row">
        <div class="col">
            <div class=" mb-2 card">
                <div class="card bg-secondary text-white">
                    <div class="card-header">Other</div>
                    <div class="card-body">34</div>
                </div>
            </div>
            
        </div>
    </div> -->

</div>