
        <!-- <div class="col-sm-6 col-md-6"> -->
            <div class="row">
            
            <div class="col-sm-7 col-md-7">
                <!-- <app-district-map></app-district-map> -->
                <app-district-map-component [barChartService]="barChartService" ></app-district-map-component>
                
            </div>

            <div class="col-sm-1 col-md-1">
                
            </div>

            <div class="col-sm-4 col-md-4">

                <app-district-map-data-component></app-district-map-data-component>
            
            </div>

        </div>
        <!-- </div> -->
        