<div class="container">
    <app-district-granular-component [barChartService]="barChartService"></app-district-granular-component>
    <div class="row" style="padding-top:70px;">
      <div class="col-md-6">
        <label for="Year Choosen">Year : {{year}}</label>
      </div>
      <div class="col-md-6">
        <label *ngIf="granular==3" for="choosen"> Quarter : {{choosenValue}}</label>
        <label *ngIf="granular==2" for="choosen">Month : {{monthName}}</label>
      </div>
    </div>
    <div class="row">
      <div #chart id="chart-area"></div>
    </div>
  </div>