<div>
    <div class="row">
        <div class="col">
            <!-- <div class="form-group">
                <label for="sel1">Select list (select one):</label>
                <select class="form-control" id="sel1" name="sellist1">
                    <option>Whole Year</option>
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                </select>


            </div> -->
            <div class="mb-2 card">
                <!-- <div class="card-header">District Selected</div> -->
                <div class="card-body">District: {{ district }}</div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col">
            <div class="mb-2 card">
                <div class="card-header">Total Cases</div>
                <div class="card-body">{{total_cases}}</div>
            </div>
            <!-- <br> -->
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class=" mb-2 card">
                <div class="card bg-secondary text-white">
                    <div class="card-header">SMD</div>
                    <div class="card-body">12</div>
                </div>
            </div>
            <!-- <br> -->
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-2 card">
                <div class="card bg-info text-white">
                    <div class="card-header">CMD</div>
                    <div class="card-body">123</div>
                </div>
            </div>
            <!-- <br> -->
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div class=" mb-2 card">
                <div class="card bg-secondary text-white">
                    <div class="card-header">Other</div>
                    <div class="card-body">34</div>
                </div>
            </div>
            <!-- <br> -->
        </div>
    </div>

</div>